

/*==============Font-Face===============*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
#root{
	font-family: "Barlow", sans-serif;
}
html {
    scroll-behavior: smooth;
}

/*===========================Common CSS=========================*/
.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

body {
  font-family: "Barlow", sans-serif;
  color: #5d5d5d;
  background: #0d1216;
  background-image: url('../images/Noise.webp');
}

a, .btn, button {
  text-decoration: none;
  outline: none;
  transition: all 300ms linear 0s;
}

a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  text-decoration: none;
  outline: none;
}

ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  list-style: none;
  padding: 0;
}

h1, h2, h3{
  letter-spacing:-3px;
}

section.row, header.row, footer.row {
  margin: 0;
}

p {
  margin-bottom: 0px;
  font-family: "Barlow", sans-serif;
}

.img-gray {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.date a {
  font: 700 14px/6px "Barlow", sans-serif;
  color: #7b7b7b;
}

.page-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #171E27;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999999999;
}
.loader-3 {
	width: 48px;
	height: 48px;
	border: 3px solid #fff;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	animation: rotation 1s linear infinite;
}
.loader-3::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 56px;
	height: 56px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-bottom-color: #E01218;
}
@-webkit-keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}




/*============banner-area css==========*/
.banner-area {
    overflow: hidden;
    position: relative;
    padding:0 70px;
}
.banner-area::after {
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
	background-image: url("../images/banner.webp");
	opacity: 1;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	min-height: 1000px;
	background-size: cover;
}
.banner-area .carousel-inner .item .div-image{
	display: flex;
	align-items:center;
	justify-content:center;
	z-index: 9999999;
	position: relative;
	margin-top:85px;
	margin-bottom:40px;
}
.banner-area .carousel-inner .item .div-image a{
	display:block;
	position: relative;
}
.banner-area .carousel-inner .item .content {
	width: 710px;
	border-radius: 30px;
	position: relative;
	z-index: 999;
	max-width: 100%;
	padding: 200px 0 30px 0;
}
.banner-area .carousel-inner .item .content h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 97px;
	line-height: 100px;
	text-transform: capitalize;
	color: #fff;
	position: relative;
	margin-bottom: 15px;
}
.start-btn {
	font-size: 18px;
	color: #fff;
	background: linear-gradient(to right, #660103, #df1217);
	font-weight: 600;
	line-height: 28px;
	padding: 10px 10px 10px 30px;
	border-radius: 60px;
	align-items: center;
	display: inline-flex;
	border: 0;
}
.start-btn:hover {
	font-size: 18px;
	color: #fff;
	background: linear-gradient(to right, #660103, #660103);
}
.start-btn span {
	background: #000;
	border-radius: 60px;
	height: 40px;
	width: 40px;
	border-radius: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
}



.banner-area .carousel-inner .item .image-sping {
	width:120px;
  -webkit-animation: rotate 7s infinite reverse linear;
  animation: rotate 7s infinite reverse linear;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.banner-area .carousel-inner .item .div-image span {
	width:100%;
	height:100%;
	position:absolute;
	display:flex;
	align-items:center;
	justify-content:center;
	left:0;
	bottom:0;
}
.banner-area .carousel-inner .item .div-image span i{
	font-size: 25px;
	transform: translate(-9%);
    color: #fff;
}
.banner-area .carousel-inner .item .content .banner-logo {
	width: 150px;
}
.banner-area .carousel-inner .item .content p {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #a9a9a9;
	margin-top: 5px;
	margin-bottom: 15px;
}
.banner-area .carousel-inner .item .content p.dp {
	font-size: 18px;
	line-height: 29px;
	color: rgba(255, 255, 255, .65);
	text-transform: none;
	margin-bottom: 20px;
	margin-top: 0;
	font-style: normal;
	font-weight: 400;
}
.banner-area .carousel-inner .item .content p.dp span{
	color: #000;
}

/*===== header css =====*/
.header-area {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 9999;
	padding: 10px 70px;
	background: rgba(0,0,0,0.15);
}
.header-area .navbar{
	padding:0;
}
.header-area .navbar-brand {
	padding:0;
}
.header-area .navbar-brand img{
	width:180px;
}
.header-area .navbar-collapse {
	justify-content: end;
}
.header-area .navbar-collapse .navbar-nav .nav-link {
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	padding: 16px 38px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1);
	border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.header-area .navbar-collapse .navbar-nav .nav-item.mai .nav-link {
	font-weight: 600;
	text-transform:none;
	font-size:14px;
	border-right: 0 !important;
}
.header-area .navbar-collapse .navbar-nav .nav-item.book-top .nav-link {
	font-weight: 600;
	text-transform:uppercase;
	font-size:16px;
	background:#df1217;
	border-left:0 !important;
	color: #fff;
	border-radius:5px;
	letter-spacing:0;
}
.header-area .navbar-collapse .navbar-nav .nav-link.active,
.header-area .navbar-collapse .navbar-nav .nav-link span,
.header-area .navbar-collapse .navbar-nav .nav-link:hover{
  	color: #df1217 !important;
}
.header-area .navbar-collapse .navbar-nav .nav-item:last-child .nav-link{
  border-right:0 !important;
}
.header-area .navbar-collapse .navbar-nav .nav-item.book-top:hover .nav-link {
	background:#b6080b;
	color: #fff !important;
}
.menu-fixed {
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 3px 15px 0 rgba(255, 255, 255, 0.05);
	animation: pos 1s linear;
	z-index: 9999;
	width: 100%;
	background: rgba(0, 0, 0, 0.65);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	padding: 5px 50px;
	z-index: 999999999;
}
@keyframes pos{
  0%{
      top:-100px;
  }
  100%{
      top: 0;
  }
}
.down-top{
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 99999;
  display: none;
  animation: bawntop 4s infinite;
}
@keyframes bawntop{
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(20px);
  }
  100%{
      transform: translateY(0px);
  }
}
.menu-fixed .logo img {
	max-width: 100%;
	height: auto;
	width: 75px;
	position: relative;
	top: 19px;
}

.blurry-bg{
	position:relative;
	overflow:hidden;
	z-index:99;
}
.blurry-bg::after{
	content:"";
	height:800px;
	width:800px;
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	z-index:-1;
	top:-50px;
	background:radial-gradient(rgba(220,15,22,0.35), rgba(220,15,22,0.15), rgba(220,15,22,0.05), transparent, transparent);
}




/*==========about=========*/
.about-area {
    width: 100%;
    padding: 110px 0;
}
.about-area.last {
	background:rgba(2, 100, 135, 0.25);
	padding: 110px 0 240px 0;
}
.about-area.last.inner{
	background:rgba(0, 75, 102, 0.25);
	padding: 110px 0 240px 0;
}
.about-area .about-img {
    position: relative;
}

.about-area .about-img img {
    width: 100%;
    border-radius: 40px;
}
.about-area .about-box {
	background: rgba(43, 57, 75, 0.3);
	padding: 30px;
	border-radius: 20px;
	margin: 15px 0;
}
.about-area .about-box h1 {
	color: #fff;
	font-weight: 700;
	letter-spacing: -0.5px;
	font-size: 30px;
}
.about-text .about-box p {
	font-size: 16px;
	color: rgba(255,255,255,.75);
	font-weight: 400;
	letter-spacing: 0;
	margin-top: 10px;
}
.about-text {
    width: 100%;
	padding-left:15px;
}
.about-text.oposite-text {
    background: linear-gradient(to left, #F9C158, transparent);
}
.about-text label{
  font-size: 16px;
  color: #fff;
  font-weight:600;
}
.about-text p {
	font-size: 15px;
	color: rgba(255,255,255,.75);
	font-weight: 400;
	letter-spacing: 0.45px;
}
.about-text ul{
    width:100%;
}
.about-text ul li{
    width: 100%;
	color: rgba(255,255,255,0.75);
	font-size: 18px;
	padding:5px 0;
}
.about-text ul li i{
	color: #000;
}

.head-text h5 {
	color: rgba(255,255,255,0.75);
	font-size: 12px;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	padding-left: 50px;
	position: relative;
}

.head-text h5::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background: rgba(255,255,255,0.5);
    left: 0;
    top: 6px;
}

.head-text.oposite-head h5 {
    padding-right: 50px;
    padding-left: 0px;
}

.head-text.oposite-head h5::after {
    right: 0;
    left: auto;
}

.head-text h2 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 15px;
	color:#fff;
}





/* gentlenero-part */
.gentlenero-part {
	padding: 100px 0;
	border: 0;
	background:rgba(23,30,39,0.5);
}
.gentlenero-part.blurry-bg::after{
	top:100px;
}
.gentlenero-logo {
	text-align: center;
	padding-bottom: 15px;
}
.gentlenero-logo img{
	width:200px;
}
.gentlenero-part .gentlenero-text h3 {
	color: rgba(255,255,255,0.75);
	font-size: 13px;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1PX;
	font-weight: 600;
	position: relative;
	text-align: center;
}
.gentlenero-part .gentlenero-text h2 {
	font-size: 71px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	line-height: 65px;
	padding-bottom: 30px;
	letter-spacing: -0.75px;
}
.three-start {
	text-align: center;
	padding-bottom: 50px;
}
.gentlenero-video{
    position: relative;
}
.gentlenero-video img {
	width: 100%;
	margin-bottom: 50px;
	border-radius: 40px;
}
.gentlenero-video .my-video-links {
	position: absolute;
	bottom: 235px;
	left: 200px;
}
.gentlenero-video .my-video-links img{
  padding: 0 !important;
}
.gentlenero-info-text {
	background: rgba(0, 0, 0, 0.25);
	padding: 30px;
	border-radius: 20px;
	position: relative;
	min-height: 250px;
	height: auto;
	margin-top: 65px;
}
.gentlenero-info-text img{
	position: absolute;
	top: -48px;
	width: auto;
	border-radius: 30px;
}
.gentlenero-info-text h1 {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -.15px;
	color: rgba(255, 255, 255, 0.95);
	margin-bottom: 10px;
	margin-top:20px;
}
.gentlenero-info-text p {
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 28px;
	color: rgba(255,255,255,0.65);
	text-align: left;
	letter-spacing: -0.2px;
}
.gentlenero-info-text p span{
	color: #000;
	font-size: 18px;
}



/* ============ Time-Line ========= */
.timeline {
    position: relative;
    width: 100%;
    padding: 100px 0;
}
.sec-head{
	color: rgba(255,255,255,0.75);
	font-size: 13px;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1PX;
	font-weight: 600;
	position: relative;
	text-align: center;
}
.pri-head{
	font-size: 71px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	line-height: 65px;
	padding-bottom: 50px;
	letter-spacing: -0.75px;
}
.timeline .timeline-container {
    position: relative;
    width: 100%;
}
.timeline .timeline-end,
.timeline .timeline-start,
.timeline .timeline-year {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 1;
}
.timeline .tagline {
	width: auto;
	display: inline-block;
	margin: auto;
	background: linear-gradient(to right, #660103, #df1217);
	border-radius: 14px;
	padding: 2px;
}
.timeline .tagline p {
	width: 100%;
	border-radius: 14px;
	margin: 0;
	padding: 16px 40px;
	font-weight: 500;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -0.02em;
	color: #fff;
}
.timeline .timeline-year {
    margin: 30px 0;
}
.timeline .timeline-continue {
    position: relative;
    width: 100%;
    padding: 60px 0;
}
.timeline .timeline-continue::after {
	position: absolute;
	content: "";
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	margin-left: -1px;
	background: #DB1016;
}
.timeline .timeline-continue.lastt::after {
    height: 78%;
}
.timeline .row.timeline-left,
.timeline .row.timeline-right .timeline-date {
    text-align: right;
}
.timeline .row.timeline-right,
.timeline .row.timeline-left .timeline-date {
    text-align: left;
}
.timeline .timeline-date {
    font-size: 20px;
    font-weight: 450;
    position: relative;
    color: #fff;
    letter-spacing: -.8px;
    padding: 0 15px;
}
.timeline .timeline-date::after {
	content: '';
	display: block;
	position: absolute;
	width: 14px;
	height: 14px;
	top: 10px;
	background: #DD1217;
	border-radius: 15px;
	z-index: 1;
	right: -19px !important;
}
.timeline .row.timeline-left .timeline-date::after {
    left: -19px;
}
.timeline .row.timeline-right .timeline-date::after {
    right: -19px;
}
.timeline .timeline-box,
.timeline .timeline-launch {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    background: #ffffff;
}
.timeline .timeline-launch {
    width: 100%;
    margin: 15px 0;
    padding: 0;
    border: none;
    text-align: center;
    background: transparent;
}
.timeline .timeline-box::after,
.timeline .timeline-box::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}
.timeline .row.timeline-left .timeline-box::after,
.timeline .row.timeline-left .timeline-box::before {
    left: 100%;
}
.timeline .row.timeline-right .timeline-box::after,
.timeline .row.timeline-right .timeline-box::before {
    right: 100%;
}
.timeline .timeline-launch .timeline-box::after,
.timeline .timeline-launch .timeline-box::before {
    left: 50%;
    margin-left: -10px;
}
.timeline .timeline-box::after {
    top: 26px;
    border-color: transparent transparent transparent #ffffff;
    border-width: 10px;
}
.timeline .timeline-box::before {
    top: 25px;
    border-color: transparent transparent transparent #dddddd;
    border-width: 11px;
}
.timeline .row.timeline-right .timeline-box::after {
    border-color: transparent #ffffff transparent transparent;
}
.timeline .row.timeline-right .timeline-box::before {
    border-color: transparent #dddddd transparent transparent;
}
.timeline .timeline-launch .timeline-box::after {
    top: -20px;
    border-color: transparent transparent #dddddd transparent;
}
.timeline .timeline-launch .timeline-box::before {
    top: -19px;
    border-color: transparent transparent #ffffff transparent;
    border-width: 10px;
    z-index: 1;
}
.timeline .timeline-box .timeline-icon {
    position: relative;
    width: 40px;
    height: auto;
    float: left;
}
.timeline .timeline-icon i {
    font-size: 25px;
    color: #4F84C4;
}
.timeline .timeline-box .timeline-text {
    position: relative;
    width: calc(100% - 40px);
    float: left;
}
.timeline .timeline-launch .timeline-text {
    width: 100%;
}
.timeline .timeline-text h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
}
.timeline .timeline-text p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}
@media (max-width: 767px) {
  .timeline .timeline-continue::after {
    left: 40px;
  }
  .timeline .timeline-end,
  .timeline .timeline-start,
  .timeline .timeline-year,
  .timeline .row.timeline-left,
  .timeline .row.timeline-right .timeline-date,
  .timeline .row.timeline-right,
  .timeline .row.timeline-left .timeline-date,
  .timeline .timeline-launch {
    text-align: left;
  }
  .timeline .row.timeline-left .timeline-date::after, .timeline .row.timeline-right .timeline-date::after {
	left: -22px;
}
  .timeline .timeline-box,
  .timeline .row.timeline-right .timeline-date,
  .timeline .row.timeline-left .timeline-date {
    margin-left: 55px;
  }
  .timeline .timeline-launch .timeline-box {
    margin-left: 0;
  }
  .timeline .row.timeline-left .timeline-box::after {
    left: -20px;
    border-color: transparent #ffffff transparent transparent;
  }
  .timeline .row.timeline-left .timeline-box::before {
    left: -22px;
    border-color: transparent #dddddd transparent transparent;
  }
  .timeline .timeline-launch .timeline-box::after,
  .timeline .timeline-launch .timeline-box::before {
    left: 30px;
    margin-left: 0;
  }
}


.tokeno-part{
	padding:100px 0;
	background:rgba(0, 0, 0, 0.15);
}
.tokeno-part .tokeno-box {
	width: 100%;
	margin-bottom: 30px;
}
.tokeno-part .tokeno-box h1{
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -1px;
	color: #fff;
	text-align:center;
}
.tokeno-part .tokeno-box .tokeno-line {
	background: rgba(43, 57, 75, 0.35);
	border-radius: 30px;
	display: flex;
	margin: 15px 0;
	height: 42px;
	align-items: center;
}
.tokeno-part .tokeno-box .tokeno-line h4 {
	background: rgba(43, 57, 75, 0.75);
	border-radius: 30px;
	height: 42px;
	padding: 0 20px;
	color: rgba(255, 255, 255, 0.5);
	line-height: 38px;
	font-size: 19px;
}
.tokeno-part .tokeno-box .tokeno-line h5 {
	font-size: 15px;
	color: #fff;
	font-weight: 500;
	line-height: 14px;
	padding: 0 10px;
}


/*============footer===========*/
.footer-area {
	position: relative;
	padding: 70px 0;
	background: #171E27;
}
.footer-area .footer-info .foot-logo img {
	width: 205px;
}
.footer-area .footer-info .social-icon{
    margin: 20px 0 0;
    padding: 0;
}
.footer-area .footer-info .social-icon li{
    list-style-type:none;
    display:inline-block;
}
.footer-area .footer-info .social-icon li a {
	display: block;
	margin-right: 25px;
}
.footer-area .footer-info .social-icon li a img {
	transition: all 0.6s;
	width: 32px;
}
.footer-area .footer-info .social-icon li a:hover img{
    opacity:0.7;
}
.footer-area .footer-link{
	margin-top: 20px;
}
.footer-area .footer-link ul li a {
	font-size: 17px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 15px;
	width: 100%;
	display: block;
}
.footer-area .footer-link ul li a:hover {
    color: #D91117;
}
.footer-area .copy-text {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 1px;
    padding-top: 20px;
    border-top: 1px dashed rgba(255, 255, 255, 0.35);
    margin-top: 40px;
}

.qr-section{
	padding: 100px 0;
	background:rgba(23,30,39,0.5);
}
.qr-section .qr-box{
	padding: 50px;
	border-radius:30px;
	background-color: rgba(0, 0, 0, 0.25);
}
.qr-section .qr-box h1{
	font-size: 40px;
    color: rgba(255, 255, 255, 0.85);
    letter-spacing: -1px;
	font-weight:700;
	margin-bottom:20px;
}
.qr-section .qr-box h4{
	font-size: 16px;
	font-weight: 600;
	color: rgba(255,255,255,0.5);
	line-height: 28px;
	margin-bottom: 30px;
}
.qr-section .qr-box h4 span{
	color: rgba(255,255,255,1);
}
.qr-section .qr-box .qr-img{
	width: 150px;
	margin:auto;
	display:table;
}
.qr-section .qr-box .qr-img img{
	width: 100%;
}
#contact h4{
	font-size: 19px;
	color: #fff;
	font-weight: 400;
	margin-bottom: 20px;
}
.contact-box{
	width:100%;
}
.contact-box input,
.contact-box textarea{
	width:100%;
	background:rgba(43, 57, 75, 0.35);
	border-radius:7px;
	border:0;
	margin-bottom:20px;
	color:#fff;
	font-size:15px;
	border:1px solid rgba(43, 57, 75, 0.45);
}
.contact-box input{
	height:44px;
}
.contact-box input::placeholder,
.contact-box textarea::placeholder{
	color:rgba(255,255,255,0.35);
}
.contact-box textarea{
	height:120px;
}
.contact-box input:focus,
.contact-box textarea:focus{
	background:rgba(43, 57, 75, 0.5);
	border:1px solid #999;
	color:#fff;
	box-shadow:none;
}